/* stylelint-disable no-descending-specificity */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7f7f9;
}

header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  float: left;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 100;
}

header .logo {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #6070ff;
  text-shadow: 1px 1px 0.6px #091e42;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

header .menuicon {
  cursor: pointer;
}

header .menuicon span {
  display: block;
  width: 25px;
  height: 4px;
  background: #6070ff;
  margin-bottom: 5px;
}

header .navbar {
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

header .navbar a {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #344563;
  cursor: pointer;
  text-decoration: none;
  margin: auto 1em;
}

.navbar a:hover {
  color: #6070ff;
  text-shadow: 1px 1px 0.6px #091e42;
  transition: all 0.5s;
}

/* mobile view nav icon click  */
.navheader {
  height: 100vh;
  background-color: rgba(96, 112, 255, 0.9);
  top: 0;
  flex-wrap: wrap;
}

.navheader .logo {
  visibility: hidden;
}

.navheader .menuicon {
  padding-top: 0.5em;
  height: 30px;
}

.navheader .menuicon span {
  display: block;
  width: 25px;
  height: 4px;
  background: #fff;
  margin-bottom: 5px;
  transition: transform 0.5s;
}

/* making cross icon  */
.navheader .menuicon span:nth-child(1) {
  transform: rotate(45deg) translateX(50%);
}

.navheader .menuicon span:nth-child(2) {
  visibility: hidden;
}

.navheader .menuicon span:nth-child(3) {
  transform: rotate(-45deg) translateX(50%);
}

/* end of cross icon  */

.navheader .navbar {
  display: flex;
  width: 100%;
  margin-top: -100px;
  text-align: center;
}

.navheader .navbar a {
  display: block;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 1em;
  color: #fff;
}

.navheader .navbar a:hover {
  color: black;
}

/* End of header section  */

/* Start of  home page section */

.homepage,
.about-myself {
  clear: both;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #fff;
  padding: 3em;
  padding-top: 9em;
}

.homepage h1,
.about-myself h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  min-width: 327px;
  color: #172b4d;
  margin-bottom: 0.3em;
}

.homepage p,
.about-myself p {
  font-size: 18px;
  font-weight: 400px;
  max-width: 880px;
  min-width: 327px;
  color: #344563;
  line-height: 24px;
  margin-bottom: 0.3em;
}

.homepage .connect,
.about-myself .connect {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  padding: 0.2em 0;
  cursor: pointer;
}

.socialmedia span i {
  font-size: 21px;
  font-weight: bold;
  color: #505f79;
  margin: auto 0.4em;
  cursor: pointer;
}

.socialmedia span i:hover {
  font-weight: bolder;
}

/* smaller screen view  */
@media screen and (max-width: 375px) {
  .homepage h1 {
    font-size: 35px;
    min-width: 100px;
  }

  .homepage p {
    font-size: 20px;
    width: 80%;
    min-width: 270px;
  }

  .homepage .connect {
    font-size: 18px;
  }
}

/* for desktop view  */
@media screen and (min-width: 768px) {
  header {
    padding: 1em 6em;
  }

  header .menuicon {
    display: none;
  }

  header .navbar {
    display: inline-block;
  }

  .homepage {
    background-color: #fff;
    align-items: center;
    padding-left: 15%;
    padding-top: 10em;
  }

  .homepage h1 {
    color: #091e42;
  }
}

/* This is the work section  */
.work {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
  display: grid;
  grid-template-columns: 327px;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-content: center;
  margin-left: 50%;
  transform: translateX(-50%);
  row-gap: 25px;
}

.work .card {
  width: 327px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 2em;
}

.card .card-container {
  width: 90%;
  margin-left: 5%;
}

.work .card img {
  width: 295px;
  height: 230px;
  background-color: skyblue;
  border-radius: 8px;
  margin: 1em 0;
}

.card-items h2 {
  font-family: 'Poppins', sans-serif;
  width: 70%;
  font-size: 35px;
  font-weight: 700;
  line-height: 44px;
  color: #173b4d;
  margin-bottom: 10px;
}

.card-items .work-details {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 10px;
}

.card .work-details .name {
  font-weight: 600;
  color: #344563;
}

.work-details .circle {
  font-weight: 300;
  width: 10px;
  height: 10px;
  background-color: #7a869a;
  border-radius: 50%;
}

.card-items .work-details span {
  color: #7a869a;
}

.card-items p {
  font-size: 17px;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-items .language {
  display: flex;
  list-style-type: none;
  margin: 0.5em 0;
  cursor: pointer;
}

.language li {
  font-size: 14px;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 5px 0;
  cursor: pointer;
}

.card1 .language,
.card2 .language {
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.language li:nth-of-type(2),
.language li:nth-of-type(4) {
  margin: 5px 8px;
}

.card-container button {
  font-size: 19px;
  font-weight: 500;
  width: 126px;
  height: 48px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 10px;
  letter-spacing: 3%;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.card-container button:hover {
  background-color: #6070ff;
  color: white;
}

/* For desktop view  */
@media screen and (min-width: 768px) {
  .work {
    width: 100%;
    row-gap: 50px;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .work .card {
    width: 90%;
    height: 95%;
    border-radius: 20px;
    margin-bottom: 2em;
    margin-left: 5%;
  }

  .work .card .card-container {
    width: 96%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
  }

  .card .card-container img {
    width: 48%;
    height: 90%;
  }

  .card-container .card-items {
    width: 50%;
    height: 92%;
    align-items: center;
  }

  .card-items h2 {
    font-size: 40px;
    width: 100%;
    margin: 0.5em 0;
  }

  .card-items .work-details {
    width: 60%;
    min-width: 300px;
    margin-bottom: 2em;
  }

  .card-items .language {
    margin: 1em 0;
  }

  .card1 .language,
  .card2 .language {
    width: 90%;
    min-width: 350px;
    justify-content: start;
    flex-wrap: wrap;
  }

  .card-items button {
    background-color: #4053fc;
    color: #fff;
  }

  .card-items button:hover {
    background-color: darkblue;
    transition: all 0.5s;
  }

  .card3 {
    grid-area: 1/1/2/2;
  }

  .card4 {
    grid-area: 2/1/3/2;
  }

  .card1 {
    grid-area: 3/1/4/2;
  }

  .card2 {
    grid-area: 4/1/5/2;
  }

  .card2 .card-container,
  .card4 .card-container {
    flex-direction: row-reverse;
  }
}

/* This is about myself section  */

.about-myself {
  font-family: 'Poppins', sans-serif;
  height: auto;
  background-color: #ffff;
  border-top-right-radius: 80px;
}

.about-myself .contact button {
  font-size: 18px;
  font-weight: 500;
  width: 162px;
  height: 48px;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 20px 0;
  cursor: pointer;
}

.about-myself .contact button:hover {
  background-color: #396df2;
  color: #fff;
  transition: all 0.5s;
}

.details {
  padding-bottom: 30px;
}

.details .div-container {
  padding-bottom: 10px;
  margin: 1em auto;
}

.frameworks-div .frameworks,
.skills-div .skills {
  display: none;
}

.details .details-header {
  width: 90%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 1em auto;
}

.div-container.hide {
  border-bottom: 1px solid #999;
}

.details-header h2,
.details-header span {
  cursor: pointer;
}

.right {
  transform: rotate(-90deg);
}

.details ul {
  list-style-type: none;
}

.details ul li {
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  height: 67px;
  color: #253858;
  background-color: #f7f7f9;
  margin: 15px auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.details ul li img {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 50%;
  margin: auto  1em;
}

/* for smaller screen view  */
@media screen and (max-width: 375px) {
  .about-myself h1 {
    font-size: 35px;
    min-width: 100px;
  }

  .about-myself p {
    font-size: 20px;
    width: 80%;
    min-width: 270px;
  }

  .about-myself .connect {
    font-size: 18px;
  }
}

/* For desktop view  */
@media screen and (min-width: 768px) {
  .about-myself {
    display: flex;
    justify-content: space-around;
  }

  .about-myself .contact {
    width: 40%;
  }

  .about-myself .contact p {
    color: #344563;
  }

  .about-myself .contact .connect {
    font-weight: 500;
    color: #7f8cff;
  }

  .about-myself .details {
    width: 50%;
    margin-right: 5%;
  }

  .details ul {
    display: flex;
    width: 80%;
    min-width: 414px;
    height: auto;
    text-align: center;
  }

  .details ul li {
    width: 122px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
  }

  .details ul li img {
    margin: auto 0;
  }
}

/* This is contact me section  */

.contact-me {
  clear: both;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  text-align: center;
  padding: 20px 0;
}

.contact-me h2 {
  font-size: 40px;
  padding: 20px 0;
  text-align: center;
  line-height: 52px;
}

.contact-me p {
  font-size: 20px;
  width: 65%;
  max-width: 569px;
  color: #ebebff;
  margin: auto;
  margin-bottom: 20px;
}

.contact-me form {
  width: 340px;
  margin: auto;
}

.contact-me form input {
  width: 330px;
  height: 48px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 20px;
  outline: none;
}

.contact-me form input::placeholder {
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
}

.contact-me form textarea {
  width: 327px;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 20px;
  outline: none;
  resize: none;
}

.contact-me form textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #b3bac5;
}

.contact-me form button {
  font-weight: 500;
  font-size: 18px;
  color: #6070ff;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
}

.contact-me form button:hover {
  color: #fff;
  background-color: #6070ff;
  border: 2px solid #fff;
  transition: all 1s;
}

.contact-me:last-child {
  text-align: left !important;
}

/* For mobile view  */
@media screen and (min-width: 768px) {
  .contact-me {
    border-top-left-radius: 200px;
    padding: 5em 0;
  }

  .contact-me p {
    font-size: 20px;
    width: 400px;
    align-items: center;
  }

  .contact-me form {
    width: 500px;
    text-align: center;
  }

  .contact-me form input {
    width: 400px;
    border-radius: 0;
  }

  .contact-me form textarea {
    width: 400px;
    border-radius: 0%;
    resize: none;
  }

  .contact-me form button {
    font-size: 17px;
    padding: 15px 25px;
  }
}
